{#
/**
 * @file
 * Default theme implementation for Geofield Suntimes.
 *
 * Available variables:
 * - sunrise: The time of sunrise.
 * - solar_noon: The time of solar noon.
 * - sunset: The time of sunset.
 *
 * @ingroup themeable
 */
#}

<ul>
    <li><strong>{{ 'Sunrise:'|t}}</strong> {{ sunrise }}</li>
    <li><strong>{{ 'Solar Noon:'|t}}</strong> {{ solar_noon }}</li>
    <li><strong>{{ 'Sunset:'|t}}</strong> {{ sunset }}</li>
</ul>

